@use "primitives/index";
@use "components/index" as index2;
@use "views/index" as index3;
@use "primitives/colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  color: colors.$black-color;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
