$grey-color: #dddddd;
$grey-blue-color: #f9fafb;
$grey-blue-color-2: #ebebec;
$grey-blue-color-3: #636c76;
$grey-blue-color-4: #636c76;
$grey-red-color: #adadad;
$grey-red-color-2: #f4f4f4;
$red-color: #f46c6d;
$black-color: #2e2929;
$blue-light-color: #f1f9ff;
$blue-color: #0084bf;
$blue-dark-color: #0084bf;
$blue-dark-color-2: #1e3f65;
$white-color: white;
$green-color: green;
$webel-color: #00d0c6;
$yellow-color: #ffc048;
